/* You can add global styles to this file, and also import other style files */
@import "assets/styles/standards.styl"
@import "assets/styles/main.styl"
@import "assets/styles/signin.styl"

// TODO
.custom-control-indicator
  background-color: white

div.progress-bar
  height: largeSpacing
