div#vfi-sign-document-view
  vfi-breadcrumbs(page="2")

  div#sign-document-wrapper
    h2.header Sign Document

    div.section
      div.container-fluid.nopadding
        div.row(ng-repeat="page in pages")
          img.pdf-page(ng-src="/pdfpreview/{{claimId}}/{{formId}}/{{page}}")
        div.row
          p Sign Here:
          signature-pad(dataurl="signature" clear="clear")
        div.row
          div.col-xs-2
            button.clear-signature(type="button" ng-click="clear()")
              | Clear Signature
          div.col-xs-2
            button(ng-click="onSubmit()") Sign
