@import "standards.styl"

#vfi-ratings-home

  margin-top: smallSpacing

  & .last-updated-statement
    padding-right: 1em

  & .rating-table
    border-style: solid
    border-color: white
    background-color: #fff
    border-width: 1em

  & .table-placeholder
    margin-top: 1em

  & .remove-condition
    cursor: pointer
    width: 36px
    height: 36px
    background: url('/assets/icons/x-black.svg')
    background-repeat: no-repeat
    background-size: cover

  & .button-row
    margin-bottom: smallSpacing

