@import "standards.styl"
@import "main.styl"

removePicWidth = maxLayoutWidthPx
changeLayoutWidth = minWindowWidthPx
textContainerWidthPx = 165px

div.auth-view
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 33vw
  min-width: minWindowWidthPx
  background-color: colorWhite
  box-shadow: 0px 0px 16px 4px
  border-radius: 6px
  overflow: hidden

  & img.logo
    display: block
    width: 120px
    margin: smallSpacing auto auto largeSpacing

    @media screen and (max-width: changeLayoutWidth)
      content: url('/assets/icons/vetafi-logo.svg')

  & .error-msg
    color: colorRed
    text-align: left

  & div.btn-container
    margin: 0 auto
    width: 50%

  & div.divider-container
    margin: 0 auto
    width: 2em
    overflow-x: visible

  & div.form-container
    margin: 0 auto
    width: 50%

    & input
      width: 100%

    & .email-icon
      width: 40px
      height: 24px
      background: url('/assets/icons/email-white.svg')
      background-size: cover
      background-repeat: no-repeat
      background-position: -7px -7px

  & .idme-btn
    background-color: colorIdMeNavy
    text-align: left

    & .idme-icon
      height: 16px
      width: 44px
      margin-top: 4px
      margin-bottom: 4px
      background: url('/assets/icons/idme-logo-white.png')
      background-size: cover
      background-repeat: no-repeat

  & .btn
    margin-bottom: mediumSpacing
    width: 100%

    & .icon-container
      display: inline-block
      vertical-align: middle

    & .txt-container
      display: inline-block
      float: right
      margin-left: megaSpacing
