@import "standards.styl"

img.pdf-page
  max-width: 80vw
  max-height: 120vh
  min-width: 100px
  min-height: 80vh

  display: block
  margin: auto
  background: transparent url('/assets/icons/spinner.svg') center no-repeat

canvas.signature-canvas
  width: 100%
  height: 100%

#vfi-sign-document-preview-view
  background-color: colorWhite
  padding-bottom: largeSpacing

#sign-document-preview-wrapper
  width: maxLayoutWidthPct
  max-width: maxLayoutWidthPx
  margin: 0 auto
  padding-top: largeSpacing
  padding-bottom: largeSpacing

  & #signature-container::before
    content: "X"
    color: black
    position: relative
    top: 28vh
    left: 5px
    font-size: 5vh

  & #signature-container
    width: 100%;
    height: 33vh
    border-bottom-style: dotted
    position: relative
    background-color: white
    cursor: default
    margin-bottom: largeSpacing
