@(changePasswordForm: Form[(String, String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

<div class="form-container">
    <p class="email-text-container">
        Change password:
    </p>

    @helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
        @helper.CSRF.formField
        <div class="form-group">
            <input type="password" name="current-password" id="current-password" placeholder="Current Password">
        </div>
        <div class="form-group">
            <input type="password" name="new-password" id="new-password" placeholder="New Password">
        </div>
        <div class="form-group">
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm New Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
