@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages)



<div class="form-container">
    <p class="email-text-container">@Messages("forgot.password")</p>
    <p>
    @Messages("forgot.password.info")
    </p>
    @helper.form(action = routes.ForgotPasswordController.submit(), 'autocomplete -> "off") {
        @helper.CSRF.formField
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Email Address">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
