@(idMeUrl: String)(implicit request: RequestHeader)

<div class="btn-container">
    <a class="btn idme-btn" href="@idMeUrl">
        <div class="icon-container">
            <div class="idme-icon"></div>
        </div>
        <div class="txt-container">Login with Id.Me</div>
    </a>
</div>

<div class="divider-container">
    <p class="divider">OR</p>
</div>

<div class="form-container">
    <p class="email-text-container">
        Login with your email:
    </p>
    @helper.form(action = routes.SignInController.submit()) {
        @helper.CSRF.formField
        <div class="form-group">
            <input class="email" placeholder="Email Address" type="text" name="email">
        </div>
        <div class="form-group">
            <input class="pwd" placeholder="Password" type="password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
    <div>
        <a href="/password/forgot ">Forgot password?</a>
    </div>
    <div>
        <a href="/signup">Need an account?</a>
    </div>
</div>
